<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myLANta - offline lan party</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>myLANta - offline lan party</h1>

    <form enctype="multipart/form-data" action="/add" method="post" name="file">
      <input type="file" name="file" />
      <input type="submit" value="Serve file to group"  />
    </form>

    <div class="group">
      <h2>Files</h2>
      <ul class="list">
        <!-- <li class="local">
          <a href="/get?file=local.txt" class="link">local.txt</a>
          <a href="/del?file=local.txt" class="kill">&times;</a>
        </li>
        <li class="remote">
          <a href="/get?file=remote.txt" class="link">remote.txt</a>
          <a href="#" title="<insert peers here>" class="info">?</a>
        </li> -->
        {{- range .Files -}}
        <li>
          <a href="/get?file={{.}}">{{.}}</a>
        </li>
        {{- end}}
      </ul>
    </div>

    <div class="group">
      <h2>Peers</h2>
      <ul class="list">
        {{- range .Peers -}}
        <li>{{.Name}}: {{.Addr}}</li>
        {{- end}}
      </ul>
    </div>

    <div class="group">
      <h2>Chat</h2>
      <form action="/out" method="post" target="message" name="chat">
        <input name="who" type="text" placeholder="John Doe" />
        <input name="msg" type="text" placeholder="message..." />
        <input type="submit" value="Send message to group" />
        <iframe src="/msg" name="message" width="100%"></iframe>
      </form>
    </div>

    <script src="/script.js"></script>
  </body>
</html>
